<div class="tui-form__header">Monsters</div>
<div *ngFor="let monster of scenarioMonsters" class="monster-counts">
  {{ monster.name }}
  <ng-container *tuiLet="getMonsterValue(monster.name) as control">
    <div *ngFor="let count of control.counts; let i = index" class="player-counts">
      {{ i + 2 }} players
      <tui-input-count [(ngModel)]="count[0]" [min]="0" [disabled]="count[2] !== 0"> Normal </tui-input-count>
      <tui-input-count [(ngModel)]="count[1]" [min]="0" [disabled]="count[2] !== 0"> Elite </tui-input-count>
      <tui-input-count [(ngModel)]="count[2]" [min]="0" [max]="1" [disabled]="count[0] + count[1] !== 0">
        Boss
      </tui-input-count>
    </div>
  </ng-container>
</div>
