<nav tuiTabs vertical="left" class="rooms-list" [(activeItemIndex)]="selectedRoom">
  <button tuiTab *ngFor="let room of form.controls">Room {{ room.controls.roomNumber.value }}</button>
  <button tuiButton size="s" appearance="secondary" icon="tuiIconPlus" (click)="addNew()">Add room</button>
</nav>

<ng-container *tuiLet="form.controls.at(selectedRoom) as room">
  <form *ngIf="room" class="room-form">
    <div class="tui-form__header tui-form__header_margin-top_none">Room {{ room.controls.roomNumber.value }}</div>
    <div tuiGroup class="properties form-row">
      <tui-input [formControl]="room.controls.ref" class="ref">Tiles ref</tui-input>
      <tui-input [formControl]="room.controls.marker" class="marker">Map marker</tui-input>
      <tui-checkbox-block [formControl]="room.controls.initial" class="initial">Is initial room</tui-checkbox-block>
      <tui-input-tag [formControl]="room.controls.rooms" [tuiTextfieldLabelOutside]="true" class="rooms">
        Connected rooms
      </tui-input-tag>
    </div>
    <ghse-room-monsters
      [formControl]="room.controls.monster"
      [scenarioMonsters]="detailsService?.monsters$ | async"
      [availableMonsters]="monstersService.getAvailableMonsters() | async">
    </ghse-room-monsters>
    <ghse-room-objectives
      [formControl]="room.controls.objectives"
      [scenarioObjectives]="detailsService?.objectives$ | async">
    </ghse-room-objectives>
  </form>
</ng-container>
