@import '~@taiga-ui/core/styles/taiga-ui-local';

.feature-page() {
  display: flex;
  flex-direction: column;
  width: 100%;

  .page-header {
    padding: 3rem 3rem;
    .inset-border(bottom);

    h2 {
      margin: 0;
    }

    &.with-link {
      padding: 1.5rem 3rem 3rem;

      a {
        tui-svg {
          width: 0.5rem;
        }
      }
    }
  }

  .page-content {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 3rem;

    tui-loader {
      flex: 1;
    }
  }
}
