@import '~@taiga-ui/core/styles/taiga-ui-local';

.feature-page() {
  display: flex;
  flex-direction: column;
  width: 100%;

  .page-header {
    padding: 3rem 3rem;
    .inset-border(bottom);

    h2 {
      margin: 0;
    }

    &.with-link {
      padding: 1.5rem 3rem 3rem;

      a {
        tui-svg {
          width: 0.5rem;
        }
      }
    }

    &.with-button {
      display: flex;
      flex-direction: row;
      align-items: center;

      a[tuiButton],
      button[tuiButton] {
        margin-left: 2rem;
        margin-top: 0.5rem;
      }
    }
  }

  .page-content {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 3rem;

    tui-loader {
      flex: 1;
    }
  }
}

.ghse-form() {
  form {
    margin-top: 1.5rem;
    width: 40rem;

    .form-row {
      margin-bottom: 1.5rem;
    }

    .multi-field {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;
      button:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }
}

.ghse-icon() {
  cursor: pointer;
  color: var(--tui-base-05);

  &:hover {
    color: var(--tui-base-06);
  }
}
