@import '../../../../shared/mixins';

:host {
  .ghse-form;

  .new-buttons {
    width: 42rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      align-items: center;
      justify-content: space-between;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  .objectives {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 1rem;
  }

  .objective-form {
    width: auto;
    border: 1px solid var(--tui-base-03);
    border-radius: var(--tui-radius-m);
    padding: 1rem;

    .form-row:last-child {
      margin-bottom: 0;
    }

    .delete {
      .ghse-icon;
      margin-left: 1rem;
    }

    .marker {
      margin-right: 1rem;
    }

    .name {
      flex: 1;
    }

    .expression-fields {
      & > * {
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }

      .health {
        flex-grow: 2;
      }

      .count {
        flex-grow: 1;
      }

      .initiative {
        flex: none;
      }

      tui-tooltip {
        flex: none;
      }
    }

    .expressions-description {
      margin-top: 0.5rem;
      color: var(--tui-text-02);
    }
  }

  .objective-type {
    display: flex;
    align-items: center;
    tui-svg {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
    }
  }

  .map-marker {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    background-color: #e2421f;
    color: #fff;
    font-size: 1rem;
    border-radius: 100%;
    border-color: #fff;
    border-style: solid;
    border-width: 0.2rem;
    transition: box-shadow 100ms ease-in-out;
  }
}
