@import '../../../../shared/mixins';

:host {
  .ghse-form;

  .new-buttons {
    width: 42rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    button {
      align-items: center;
      justify-content: space-between;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  .objectives {
    .ghse-items-list(30rem);
  }

  .objective-form {
    .ghse-item-box;

    .marker {
      margin-right: 1rem;
    }

    .name {
      flex: 1;
    }

    .expression-fields {
      & > * {
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }

      .health {
        flex-grow: 2;
      }

      .count {
        flex-grow: 1;
      }

      .initiative {
        flex: none;
      }

      tui-tooltip {
        flex: none;
      }
    }

    .expressions-description {
      margin-top: 0.5rem;
      color: var(--tui-text-02);
    }
  }

  .objective-type {
    display: flex;
    align-items: center;
    tui-svg {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
    }
  }
}
