<div class="new-buttons">
  <button tuiButton (click)="addNew()" type="button" icon="tuiIconPlusLarge">Add objective</button>
</div>

<div class="objectives">
  <form *ngFor="let objective of form.controls; let i = index" [formGroup]="objective" class="objective-form">
    <div class="form-row multi-field">
      <tui-input [formControl]="objective.controls.marker" class="marker">Marker</tui-input>
      <tui-input [formControl]="objective.controls.name" class="name" tuiAutoFocus>Name</tui-input>
      <tui-svg src="tuiIconTrashLarge" class="delete" (click)="remove(i)"></tui-svg>
    </div>
    <div class="form-row" tuiGroup>
      <tui-radio-block [formControl]="objective.controls.escort" [item]="false">
        <div class="objective-type">
          <tui-svg src="assets/images/ghs/objective/objective.svg" width="32"></tui-svg> Objective
        </div>
      </tui-radio-block>
      <tui-radio-block [formControl]="objective.controls.escort" [item]="true">
        <div class="objective-type"><tui-svg src="assets/images/ghs/objective/escort.svg"></tui-svg> Escort</div>
      </tui-radio-block>
    </div>
    <div class="form-row">
      <div class="multi-field expression-fields">
        <tui-input [formControl]="objective.controls.health" class="health">Health</tui-input>
        <tui-input [formControl]="objective.controls.count" class="count">Count</tui-input>
        <tui-input-number [formControl]="objective.controls.initiative" class="initiative">Initiative</tui-input-number>
        <tui-tooltip [content]="expressionsDescription"></tui-tooltip>
      </div>
      <ng-template #expressionsDescription>
        <p>You can use mathematical expressions for the above fields. Substitution list:</p>
        <ul>
          <li>L — scenario level</li>
          <li>C — characters count</li>
          <li>x - multiply symbol ('*' works as well)</li>
        </ul>
        <p>
          You may also use functions such as <i>math.floor</i> and <i>math.ceil</i> using following format as an
          example: [(2+L)xC/2&lbrace;%math.floor}]
        </p>
      </ng-template>
    </div>
  </form>
</div>

<form>
  <div class="form-row buttons">
    <div>
      <button tuiButton type="button" [disabled]="!form.valid || form.pristine" (click)="save()">Save</button>
      <button tuiButton type="button" appearance="outline" (click)="reset()" data-automation="reset-button">
        Reset
      </button>
    </div>
  </div>
</form>
