<div class="page-header">
  <h2 class="tui-text_h2">Edition data</h2>
</div>
<div class="page-content">
  <tui-island>
    <h3 class="tui-island__title">Welcome to GHS Data Editor</h3>
    <p class="tui-island__paragraph">You will need to specify your edition properties first.</p>
    <p class="tui-island__paragraph">
      Edition prefix is mandatory, it will be specified in all other entities you create.
    </p>
    <p class="tui-island__paragraph">
      Extended editions selection defines which monsters will be available for scenarios.
    </p>
  </tui-island>
  <tui-loader [showLoader]="true" size="xxl" *ngIf="loading | async"></tui-loader>
  <form *ngIf="(loading | async) === false" [formGroup]="editionForm" (ngSubmit)="save()" class="tui-form">
    <div class="name-fields form-row">
      <div>
        <tui-input [formControl]="editionForm.controls.editionName" class="fullName" data-automation="edition.fullname">
          Edition full name
          <input tuiTextfield />
        </tui-input>
        <tui-error [formControl]="editionForm.controls.editionName" [error]="[] | tuiFieldError | async"></tui-error>
      </div>

      <div>
        <tui-input
          [formControl]="editionForm.controls.editionPrefix"
          class="prefixName"
          data-automation="edition.prefix">
          Edition prefix
          <input tuiTextfield />
        </tui-input>
        <tui-error [formControl]="editionForm.controls.editionPrefix" [error]="[] | tuiFieldError | async"></tui-error>
      </div>
    </div>

    <label tuiLabel="Extended editions" class="form-row">
      <tui-multi-select
        [formControl]="editionForm.controls.extendedEditions"
        [tuiTextfieldLabelOutside]="true"
        [editable]="true"
        [stringify]="getName"
        data-automation="edition.extendedEditions">
        Select editions that this new edition extends
        <tui-data-list-wrapper
          *tuiDataList
          tuiMultiSelectGroup
          [items]="availableEditionsIds | async"
          [itemContent]="getNameForList"
          data-automation="edition.extendedEditions.list"></tui-data-list-wrapper>
      </tui-multi-select>
      <tui-error [formControl]="editionForm.controls.extendedEditions" [error]="[] | tuiFieldError | async"></tui-error>
    </label>

    <label tuiLabel="Used conditions" class="form-row">
      <tui-multi-select
        [formControl]="editionForm.controls.conditions"
        [tuiTextfieldLabelOutside]="true"
        [editable]="true"
        [(search)]="conditionSearch"
        data-automation="edition.conditions">
        Select conditions used in this edition
        <tui-data-list-wrapper
          *tuiDataList
          tuiMultiSelectGroup
          [items]="filterConditions(conditionSearch) | tuiHideSelected"
          [itemContent]="conditionOptionTemplate"
          data-automation="edition.extendedEditions.list"></tui-data-list-wrapper>
      </tui-multi-select>
    </label>

    <div class="form-row buttons">
      <div>
        <button tuiButton type="submit" size="m" [disabled]="!editionForm.valid || editionForm.pristine">Save</button>
        <button tuiButton type="button" appearance="outline" size="m" (click)="reset()" data-automation="reset-button">
          Reset
        </button>
      </div>
      <div>
        <button
          tuiButton
          type="button"
          appearance="secondary-destructive"
          size="m"
          (click)="dialogService.open(clearAllConfirmation, { size: 'l' }).subscribe()"
          data-automation="clear-all-button">
          Clear all data
        </button>
      </div>
    </div>
  </form>
</div>

<ng-template #conditionOptionTemplate let-condition>
  <div class="condition-option">
    <tui-svg [src]="'assets/images/ghs/condition/' + condition + '.svg'"></tui-svg>
    {{ condition }}
  </div>
</ng-template>

<ng-template #clearAllConfirmation let-observer>
  <div class="dialog">
    <header>
      <section>
        <h3>Data clear</h3>
        <tui-marker-icon src="tuiIconAlertCircleLarge"></tui-marker-icon>
      </section>
    </header>
    <ul class="tui-text_body-m">
      <li>This will clear all saved data from browser storage, including scenarios, monsters and characters.</li>
      <li>State of the app will be completely empty as if you just loaded it for the first time.</li>
      <li>Be sure to export neccesary data before proceeding.</li>
    </ul>
    <div class="buttons">
      <button
        tuiButton
        type="submit"
        appearance="accent"
        (click)="clearAll(observer)"
        data-automation="clear-data-confirm">
        Clear data
      </button>
      <button
        tuiButton
        type="button"
        appearance="outline"
        (click)="observer.complete()"
        data-automation="clear-data-cancel">
        Cancel
      </button>
    </div>
  </div>
</ng-template>
