<div class="page-header">
  <h2 class="tui-text_h2">Edition data</h2>
</div>
<div class="page-content">
  <form [formGroup]="editionForm">
    <div class="name-fields form-row">
      <tui-input
        [formControl]="editionForm.controls.editionName"
        class="fullName" data-automation="edition.fullname"
      >
        Edition full name
        <input tuiTextfield />
      </tui-input>

      <tui-input
        [formControl]="editionForm.controls.editionPrefix"
        class="prefixName" data-automation="edition.prefix"
      >
        Edition prefix
        <input tuiTextfield />
      </tui-input>
    </div>

    <label tuiLabel="Extended editions" class="form-row">
      <tui-multi-select
        [formControl]="editionForm.controls.extendedEditions"
        [tuiTextfieldLabelOutside]="true"
        [editable]="false"
        [identityMatcher]="editionIdentityMatcher"
        data-automation="edition.extendedEditions"
      >
        Select editions that this new edition extends
        <tui-data-list-wrapper
          *tuiDataList
          tuiMultiSelectGroup
          [items]="availableEditions | async"
          data-automation="edition.extendedEditions.list"
        ></tui-data-list-wrapper>
      </tui-multi-select>
    </label>
  </form>
</div>
<button (click)="test()"></button>
