@import '../../../../shared/mixins';

:host {
  .feature-page;

  form {
    width: 40rem;
  }
  .form-row {
    margin-bottom: 1rem;
  }

  .name-fields {
    display: flex;
    justify-content: space-between;

    .fullName {
      width: 30rem;
    }
    .prefixName {
      width: 9rem;
    }
  }

  .checkbox-content {
    width: 35.75rem;
    display: flex;
    justify-content: space-between;
  }

  .buttons {
    margin-top: 2rem;
    button {
      margin-right: 1rem;
    }
  }
}
